@font-face {
  font-family: "custome-font";
  src: url(font.ttf);
}
body {
  background-color: lightskyblue;
}
header,
footer {
  background-color: #2b2d42;
}
.work {
  background-color: #edf2f4;

  font-family: "custome-font";
}
.education {
  background-color: #f0f1f7;
}
